<table cellspacing="0" cellpadding="0" class="listHier rosterTable" id="roster_form_rosterTable">
	<thead>
		<tr>
			<th width="20%"><a class="roster-name" href="#">{{translate 'facet_name'}}</a></th>
			{{#if viewUserDisplayId}}
				<th width="15%"><a href="#">{{translate 'facet_userId'}}</a></th>
				<th width="15%"><a href="#">{{translate 'facet_plid'}}</a></th>
			{{/if}}
			{{#if viewEmail}}
				<th width="20%"><a href="#">{{translate 'facet_email'}}</a></th>
			{{/if}}
            <th width="12.5%"><a href="#">{{translate 'facet_status'}}</a></th>
            <th width="10%"><a href="#">{{translate 'facet_credits'}}</a></th>
            <th width="22.5%"><a href="#">{{translate 'facet_dropDate'}}</a></th>
		</tr>
	</thead>
	<tbody>
	{{#unless enrollment.length}}
		<tr>
			<td>{{translate 'no_participants'}}</td>
			{{#if viewUserDisplayId}}
			<td></td>
			{{/if}}
			{{#if viewEmail}}
				<td></td>
			{{/if}}
			<td></td>
			<td></td>
		</tr>
	{{else}}
		{{#each enrollment}}
			{{#if canViewEnrollment}}
			    <tr onMouseOver="this.className='rosterTableRowHighlight'" onMouseOut="this.className='rosterTableRow'">
					<td>
                    {{#if confidential}}
                        <img src="/library/image/privacy.png" class="privacy-icon" alt="Confidential" title="Personal Info Confidential">
                    {{/if}}
                    {{#if ../../viewProfile}}
                        <a href="javascript:;" class="profile" rel="{{formattedProfileUrl}}">
                    {{/if}}
                        <span class="roster-name">
                    {{#if ../../firstNameLastName}}
                        {{displayName}}
                    {{else}}
                        {{sortName}}
                    {{/if}}
                        </span>
                    {{#if ../../viewProfile}}
                        </a>
                    {{/if}}
					</td>
				{{#if ../../viewUserDisplayId}} 
					  <td>{{eid}}</td>
  	                  <td>{{plid}}</td>
                    {{/if}}
					{{#if ../../viewEmail}}
                    <td><a href="mailto:{{email}}">{{email}}</a></td>
					{{/if}}
					<td>{{enrollmentStatus}}</td>
					<td>{{credits}}</td>
					{{#if dropDate }}
						<td>{{dropDate}}</td>
					{{else}}
						<td>{{translate 'nullValue'}}</td>
					{{/if}}
				</tr>
			{{/if}}
		{{/each}}
	{{/unless}}
	</tbody>
</table>
